<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-dummy"
        version="1.0.0">

	<name>dummy</name>

	<engines>
		<engine name="cordova" version=">=3.4.0"/>
	</engines>

	<asset src="www/Dummy.js" target="js/Dummy.js"/>
	<js-module src="www/Dummy.js" name="Dummy">
		<clobbers target="dummy" />
	</js-module>

	<platform name="android">
		<config-file parent="/resources" target="app/src/main/res/values/themes.xml" mode="merge">
		     <style name="Theme.App.SplashScreen" parent="Theme.SplashScreen">
			  <item name="windowSplashScreenBackground">#FFFFFF</item>
			  <item name="windowSplashScreenIconBackgroundColor">#FFFFFF</item>
			  <item name="postSplashScreenTheme">@style/MyTheme</item>
		     </style>
		</config-file>
		<config-file target="res/xml/config.xml" parent="/*">
			<resource-file src="resources/android/colors.xml" target="app/src/main/res/values/colors.xml" />
			<resources>
			    <color name="cdv_splashscreen_background">#FFFFFF</color>
			</resources>

			<preference name="AndroidWindowSplashScreenBackground" value="#FFFFFFFF"/>
			<feature name="Dummy">
				<param name="android-package" value="de.dummy.Dummy"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
		</config-file>
		
		<source-file src="src/android/Dummy.java" target-dir="src/de/dummy"/>

	</platform>


</plugin>
